.App {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
  height: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

/* .App-header {
  height: 150px;

} */

.App-intro {
  font-size: large;
}

.drink_image{
  height:170px;
  width:150px;
  margin:20px;
  display: inline-block;
  padding: 25px;
}

.favLabel {
  font-size: 30px;
}

.favs {
  height:170px;
  width:150px;
  margin:20px;
  display: inline-block;
  padding: 25px;
}

.drink_image:hover{
  border: white solid 2px;
}

.drink_image img {
  height:150px;
  width:150px;
}

.createLabel {
  font-size: 30px;
}

.inputBox {
  width: 80%;
  height: 30px
}

.inputBox2 {
  width: 80%;
  height: 100px;
}

.linkBtn {
  margin-inline-end: 10px
}