.App {
  text-align: center;
  background-color: #eee;
  padding: 20px;
  color: #3d3d3d;
  height: 100%;

}


/* .App-header {
  height: 150px;

} */

.App-intro {
  font-size: large;
}

#title {
  color: orange;
}

.drink_image{
  height:200px;
  width:150px;
  margin:2px;
  display: inline-block; 
}

.drink_image a{
  color: #3d3d3d;
}

.favLabel {
  font-size: 30px;
}

.favs {
  height:170px;
  width:150px;
  margin:20px;
  display: inline-block;
  padding: 25px;
}

.drink_image:hover{
  border: white solid 2px;
}

.drink_image img {
  height:150px;
  width:150px;
}

.createLabel {
  font-size: 30px;
}

.inputBox {
  width: 80%;
  height: 30px
}

.inputBox2 {
  width: 80%;
  height: 100px;
}

.linkBtn {
  margin-inline-end: 10px
}

.drinkinfo {
  height: 100%;
  width: 30%;
  margin-top: 100px;
}

.drinkinfo img {
  width: 300px;
  height: 300px;
  border: solid white 1px;
}



.slide {
  height: 300px;
  width: 300px;
  float: left;
}

.arrow:hover{
  border:3px white solid;
  font-size:2em;
}

.arrow{
  color: orange;
}
.carousel{
  height: 300px;
  width: 500px;
  border: solid 1px blue;
}
.carousel-wrapper {
  height: 300px;
  width: 300px;
  float: left;
}