.App {
  text-align: center;
  background-color: white;
  padding: 20px;
  color: #3d3d3d;
  height: 100%;
  font-family: 'Work Sans', sans-serif;


}


/* .App-header {
  height: 150px;

} */


#title {
  color: orange;
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
  font-weight: bolder;
  text-shadow:2px 2px 5px #3d3d3d

}



.drink_image a{
  color: #3d3d3d;
}

.favLabel {
  font-size: 5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
color: orange;
text-shadow:2px 2px 5px #3d3d3d

}

.favs {
  height:170px;
  width:150px;
  margin:20px;
  display: inline-block;
  padding: 25px;
}

.drink_image{
  color: black;
  height: 250px;
}

.drink_image:hover{
  border: white solid 2px;
}

.drink_image img {
  height:200px;
  width:200px;
}

/* .drink_div{
  margin-bottom: 200px;
} */

/* .main{
  background-color:rgba(224, 127, 0, 0.1)
} */

.createLabel {
  font-size: 30px;
}

.inputBox {
  width: 80%;
  height: 30px
}

.inputBox2 {
  width: 80%;
  height: 100px;
}

.linkBtn {
  margin-inline-end: 10px
}

.drinkinfo {
  height: 100%;
  
  margin-top: 10px;
}

.drinkinfo img {
  width: 300px;
  height: 300px;
  border: solid white 1px;
}

.pourInfo {
  height: 100%;
  margin-top: 10px;
}

.Modal {
  text-align: center;
  position: absolute;
  width: 50%;
  top: 10%;
  left: 25%;
  right: auto;
  /* background-color: lightslategrey; */
  border-radius: 5px;
  height: 580px;
  background: orange;
  padding-top: 25px;
  
}

#form {
  padding-top: 15px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgb(29, 26, 26, .7) */
  
}

a:hover {
  color: orange;
}

.btn {
  margin:10px;
  /* border-bottom: blue 7px solid */
  box-shadow: 2px 2px 4px #3d3d3d;
}
.picsDiv{
  width:650px;
  margin:auto;
}

.display-str {
  white-space: pre-wrap;
  text-align: left;
}

.progress {
  height: 60px;
}


@media (min-width: 1200px) {
  .container{
      max-width: 1400px;
  }
}

/* .favorites {
  /* background-color:rgba(224, 127, 0, 0.1) */

