.fav-btn {
  margin-left: -53px;
  margin-top:244px;
}
#btn:hover{
  transform: scale(1.1);
  cursor: pointer;
}

#btn:active{
  transform: scale(.5);
}

#btn {
  height: 50px;
  width: 50px;
  margin-top: 244px;
}

.fav-btn:active{

}